textarea {
    text-align: start;
}

#textarea {
    height: 61px;
    width: 681px;
    font-size: 13px;
    font-family: Verdana, sans-serif;
}
#publish-button {
    font-size: 11px;
}

#divText {
    padding-left: 165px;
}
#div-list {
    display: inline-block;
}
.tweets-section {
    padding-left: 165px;
    height: 40px;
    width: 300px;
    font-size: 12px;
    font-family: Verdana, sans-serif;
}

.tweet-avatar {
    height: 40px;
    width: 40px;
    display: inline-block;
}

.tweet-username {
    font-family: Arial, sans-serif;
    font-style: italic;
    display: inline-block;
    vertical-align: top;
    margin-left: 12px;
}
